body{
    background: linear-gradient(#55CDFC, #F7A8B8, white, #F7A8B8, #55CDFC)
}

h1{
    color: #613291;
    font-family: sans-serif;
}

h3{
    color: blueviolet;
    font-family: sans-serif;
}

p{
    font-size: 25px;
}