body{
    background-color: black;
    background-image: url(Finger.png);
}
h1{
    color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
p{
    text-align: center;
    font-size: large;
    font-family:sans-serif;
    color: white;
}
